/*--------------------------------------------------------------
# Post Archive Style
--------------------------------------------------------------*/

.page-header {   
    margin-bottom: 5%;
        h1 {
            border-bottom: $solid-border;
            padding-bottom: 5%;
        }
}