/*--------------------------------------------------------------
# Post Archive Style
--------------------------------------------------------------*/

.page-header {   
    margin-bottom: 5%;
        h1 {
            border-bottom: $solid-border;
            padding-bottom: 3%;
        }
}

.archive {
    .entry-header{
        position: relative;
        img {
            width: 100%;
        }
    }
    .entry-title {
        background-color: #248a83;
        color: #fff;
        padding: 1rem;
        position: absolute;
        margin-top: 3rem;
        max-width: 80%;
        top: 0;
            a{
            color: white;
            font-family: $accent-font-family;
            &:hover {
                color: $brand-yellow;
            }
        }
        }
    .entry-meta {
        font-family: novecento,sans;
        position: absolute;
        padding: .2rem .5rem;
        margin-bottom: .49rem;
        right: 0;
        bottom: 0;
        text-transform: uppercase;
        display: -ms-flexbox;
        display: flex;
    }
 }
