/*--------------------------------------------------------------
# Navigation
-----------------------*/

.site-footer {
    width: 100%;
    height: auto;
    background-color: black;
}

.footer-content{
    display: flex;
    justify-content: space-around;

    h3 {
        color: #d99054;
        font-size: 1.5rem;
    }
    
    p {
        color: white;
    }

    .contact {
        flex: 25% 0 0;

        a {
            color: white;
        }

        .fa {
            padding: 0 1%;
        }
    }

    .social {
            display: flex;

            p {
                padding: 0 1%;
            }
        }

    .business-hours {
        flex: 20% 0 0;

        span {
            font-weight: bold;
        }
    }
    .footer-logo {
        flex: 25% 0 0;
    }

    
}
