/*--------------------------------------------------------------
# Navigation
-----------------------*/

.site-footer {
    width: 100%;
    height: auto;

    background: url(../../images/dark-wood@2x.png);
   
    padding: 2rem;

}

.footer-content{
    display: flex;
    justify-content: space-around;

    h3 {
        color: #d99054;
        font-size: 1.5rem;
    }
    
    p {
        color: white;
    }

    .contact {
        flex: 20% 0 0;

        a {
            color: white;
        }

        .fa {
            padding: 0 1%;
        }
    }

    .social {
            display: flex;

            p {
                padding: 0 1%;
            }
        }

    .business-hours {
        flex: 20% 0 0;

        span {
            font-weight: bold;
        }
    }
    .footer-logo {
        flex: 40% 0 0;
        padding-left: 10%;
        padding-top: 5%;
        
        img {
            width: 80%;
        }
        
    }
    
}

 .site-info {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

