.page-id-4 {

    .site-content {
        width: 100vw;
    }
    .content-area {
        display: block;
        width: $content-width;
        margin: 0 auto;
    }
    .site-main {
        padding: 0;
        border: none;
    }
    h1 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: normal;
    }
    
}

.banner-image {
    background-image: $linear-gradient, url('../../images/home-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

/*=============================================================
* SHOP STUFF SECTION 
=============================================================*/
.shopping {
    height: 60vh;
    width: 100%;
    margin: 5% auto 0 auto;

    .shop-stuff {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

        .shop-offers {
        width: 20%;
        flex: 23% 0 0;
        padding: 1em 0.5em;
        border-color: #e1e1e1;
        border-style: solid;
        border-width: 5px 2px 2px 2px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

            &:hover {
                border-color: $brand-orange;
            }

            img {
                width: 30%;
            }
            
            .button {
               @include form-submit-button
               width: 150px;  
            }
        }
    }
}
/*=============================================================
* JOURNAL SECTION
=============================================================*/

.journal {
    height: 80vh;
    width: 100%;
    margin: 0 auto;

    .journal-posts {
        // margin: 4% 2%;
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
        

        .recent-posts {
            display: flex;
            flex-direction: column;
            height: 430px;
            flex: 32% 0 0;
            position: relative; 
            border: $solid-border;
            
            .homedate {
                font-size: 0.8rem;
                padding: 0 2%;
                line-height: 1;
            }

           h2 {
                font-size: 1.5rem;
                font-family: $accent-font-family;
                font-weight: bold;
                padding: 0 2%;
                line-height: 1;
            }
            
            img {
                max-height: 240px;
                max-width: 100%;
            }

            .button {
                @include brand-button;
                position: absolute;
                bottom: 0;
                margin: 0 0 2% 2%;
            }
        }

    }
}


/*=============================================================
* ADVENTURE SECTION
=============================================================*/

.adventures-section {
    height: 100vh;
    width: 100%;
    margin-bottom: 5%;
      
       .more-button {   
                margin-top: 2%;        
                @include form-submit-button;
                width: auto;
                font-size: 1.2rem;
                }

}

.adventures {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;

    h1 a, h2 a, h3 a{
        margin: 20px;
        color: white;
        font-family: $main-font-family;
        font-weight: normal;
        text-align: left;
    }

    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    .button {
        margin-left: 20px;
        @include brand-button;
        a {
            border: 1px solid white;
            color: white;
        }
    }
}

 


.left-box {
    background-image: $linear-gradient, url('../../images/adventures/canoe-girl.jpg');
    background-size: cover;
    flex: 50% 0 0 ;
    border-right: $adventure-border;
}

.right-side {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.upper-right-box {
    background-image: $linear-gradient,url('../../images/adventures/beach-bonfire.jpg');
    width: 100%;
    height: 50%;
    background-position: center;
    background-size: cover;
    border-bottom: $adventure-border;
}

.bottom-right-section {
    display: flex;
    display: wrap;
    width: 100%;
    height: 50%;

    .left {
    background-image: $linear-gradient,url('../../images/adventures/mountain-hikers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 50% 0 0; 
    border-right: $adventure-border;
    }
    .right {
    background-image: $linear-gradient,url('../../images/adventures/night-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex: 50% 0 0; 
    }

}