.site-header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid lightgrey;
	padding: 1rem;
	height: auto;
	/*position: fixed;*/
	background-color: white;

		a img{
			width: 40%;
		}
}

.header-search fieldset {
	border: none;
	
		button {
			visibility: hidden;
		}
		.fa {
			font-size: 1.5rem;
		}

		input[type="search"] {
			border:none;
		}
}


