//journal, shop and find us - green logo 
.site-branding {
	@include green-header-logo;
}

.page-id-128 , .page-id-4 {
	@include white-header;
//white logo in the header for front page and about us page 
.site-branding{
	@include white-header-logo;
}
}

.site-header{
	width: 100%;
	border-bottom: 1px solid lightgrey;
	position: fixed;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.6);

.header-nav {
	padding: 1.55em 0;
	width: 1120px;
    margin: 0 auto;
	height: 41px;
	display: flex;
	justify-content: space-between;
	align-items: center;

		a img{
			margin-top: 3%;
			width: 27%;
		}
}
}

.header-search fieldset {
		border: none;
		margin-top: 7px;
		
		.icon-search {
			display: inline;
		}

		button {
			visibility: hidden;
		}
		.fa {
			font-size: 1rem;
			color: $brand-green;
		}

		input[type="search"] {
			border:none;
			width: 0px;
			padding: 0;
			text-transform: uppercase;
			font-size: 1rem;
			
			&:focus {
				outline: none;
			}
		}
}

