// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Button with green background on hover 

@mixin brand-button {
	a {
		background-color: transparent;
		border-radius: 0px;
		padding: 0.35rem 0.7rem;
		border: 1px solid $brand-medium-grey;
		color: $brand-green;
		width: 150px;
		font-size: 0.9rem;
		text-align: center;

		&:hover {
			background-color: $brand-green;
			color: white;
			border: none;
		}

	}
}

@mixin form-submit-button {
		background-color: $brand-green;
		border-radius: 0px;
		padding: 0.5rem 0.7rem;
		color: white;
		width: 100px;
		font-size: 0.9rem;
		text-transform: uppercase;
		text-align: center;
		box-shadow: none;
		text-shadow: none;
		cursor: pointer;

		&:hover {
			background-color: #154D49;
			color: white;
			border: none;
			box-shadow: none;
		}
}

@mixin social-button {
		background-color: transparent;
		border-radius: 0px;
		padding: 0.35rem 1rem;
		border: 1px solid $base-font-color;
		width: auto;
		font-size: 1rem;
		text-align: center;
			.fa {
				color: $base-font-color;
			}

		&:hover {
			background-color: $brand-green;
			border: none;
			.fa {
				color: white;
			}
		}
}


@mixin green-header-logo {
	height: 50px;
    width: 50px;
	a {
    height: 100px;
    width: auto;
	background-image: url('../../images/logos/inhabitent-logo-tent.svg');
	background-size: contain;
	background-repeat: no-repeat;
	}
}

@mixin white-header-logo {
	height: 50px;
    width: 50px;
	a {
    height: 100px;
    width: auto;
	background-image: url('../../images/logos/inhabitent-logo-tent-white.svg');
	background-size: contain;
	background-repeat: no-repeat;
	}
}

@mixin white-header {
	.site-header {
        
        background-color: transparent;
        border: none;

        a {
            color: white;
        }
    	}
    .header-search fieldset {
        input {
            background-color: transparent;
            color: white ;

            &::placeholder {
            color: $brand-yellow;
            }
        }
        
        .fa {
            color: white;
        }
    }
}



