/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Basic styles */



body {
    font-family: $main-font-family;
    line-height: $base-line-height;
    font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6 , a{
    
    font-family: $accent-font-family;
    text-transform: uppercase;
}

p {
   color: $base-font-color;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}






