.post-type-archive-product { 

     .content-area {
        display: block;
        width: $content-width;
        margin: 0 auto;
     }
    

        .page-header {
            border-bottom: 2px dotted lightgray;
            margin-bottom: 5rem;
           
            a {
                font-size: 1.3rem;
                padding: 1rem;
            }

        }
        .shop-stuff {
        display: inline-block;
        font-size: 2rem;
        padding: 1rem;
    }

}

.shop-wrapper {
    margin-top: 5rem;
    text-align: center;
}

.archive-area{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    justify-content: space-around;

        .product-post {
        flex: 25% 0 0;
        border: 1px solid lightgrey;

        img {
            height: 240px; 
        }
        }
}

.single-product {
    .type-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    .entry-header {
        flex: 40% 0 0;
    }
    .content-wrapper {
       flex: 40% 0 0;
    }
}
