.post-type-archive-product{

     .content-area {
        display: block;
        width: $content-width;
        margin: 0 auto;
     }
    

        .page-header {
            border-bottom: 2px dotted lightgray;
            margin-bottom: 5rem;
            
            h1 {
                padding-top: 100px;
                border: none;
            }
           
            a {
                font-size: 1.3rem;
                padding: 0 1rem;
            }

        }

        .shop-stuff {
        display: inline-block;
        padding: 0 1rem;
    }

}

.shop-wrapper {
    text-align: center;
}

.archive-area{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    justify-content: space-around;

        .product-post {
        flex: 25% 0 0;
        border: 10px solid white;

        img {
            height: 240px; 
        }
        .product-thumbnail {
            border-color: #e1e1e1;
            border-width: 1px 1px 5px 1px;
            border-style: solid;
            height: 245px;
        }

        .product-info {
            border: $solid-border;
        }
        }
}


/*=============================================================
* SINGLE PRODUCT
=============================================================*/

.single-product {

    .type-product {
    margin: 8% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .social-buttons {
        display: flex;
        flex: 50%;
        
          .social-btn {
            @include social-button;
            margin-right: .8rem;
            }
    }
        
    
    
    .entry-header {
        flex: 50% 0 0;
        img {
            width: 95%;
            height: auto;
            padding-top: 37px;
        }
    }
    .content-wrapper {
       flex: 50% 0 0;
       h1 {
           font-size: 2.5rem;
           color: $brand-orange;
           line-height: 1;
       }
       .price {
           font-size: 1.5rem;
           line-height: 1;
       }
    }
}


/*=============================================================
* Taxonomy product Type 
=============================================================*/

.tax-product_type{ 
    
    .site-content {
        height: 100vh;
    }

    .content-area {
       display: initial;
     }

    .page-header {
        padding-top: 10px;
        text-align: center;
        border-bottom: $dashed-border; 
        margin-bottom: 50px; 
        h1 {
            margin-top: 6%;
        }
    }
    .product-info {
        text-align: center;
    }

}

