.search-results {
    .content-area .site-main {
    margin-top: 4.6%;
    }

    .entry-summary {
	 @include brand-button;
    }

    .entry-meta {
    visibility: hidden;
    }
}

.search-pagination {
    display: flex;
    justify-content: space-between;
    width: 20%;
    span {
        background-color: $brand-lightgrey;
		border-radius: 0px;
		padding: 0.5rem 0.7rem;
		color: white;
		font-size: 0.9rem;
		text-transform: uppercase;
		text-align: center;
		box-shadow: none;
		text-shadow: none;
		cursor: pointer;
         &:hover {

         }

    }
    a {
        background-color: $brand-green;
		border-radius: 0px;
		padding: 0.5rem 0.7rem;
		color: white;
		font-size: 0.9rem;
		text-transform: uppercase;
		text-align: center;
		box-shadow: none;
		text-shadow: none;
		cursor: pointer;
            &:visited {
                color: white;
            }
    }

}

/* search form style when no results are found */

.search-form fieldset {
        .icon-search {
            font-size: 1.5rem;
        }
        .search-field {
            margin-left: 10px;
            width: 450px;
        }
        .search-submit {
            @include form-submit-button;
            height: 48px;
            border-radius: 4px;
            margin-left: 10px;
        }
}   
