/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Archive widget */


/* Business hours widget */

.day-of-week {
	font-weight: bold;
}

/* Inhabitent Contact widget */

.fa {
	padding-right: 0.5rem;
}

/* Archive Widget */
.widget_archive ul {
	display: flex;
    flex-direction: column;

	li a{
	text-transform: capitalize;
	font-family: $main-font-family;
	}
}
